fastapi>=0.110.0
uvicorn[standard]>=0.28.0
pydantic>=2.6.0
pydantic-settings>=2.2.0
chromadb>=0.4.24
langchain>=0.3.0
langchain-community>=0.3.0
langchain-chroma>=0.1.0
sentence-transformers>=2.5.1
python-multipart>=0.0.9
langchain-ollama>=0.2.0
requests>=2.31.0
pymongo>=4.9.0
langchain-mongodb>=0.2.0
email-validator>=2.3.0
phonenumbers>=9.0.0